<footer class="">
  <div class="container text-center text-md-start">
    <div class="row d-flex align-items-center not-aling">
      <div class="col-12 col-md-4 p-0 m-0">
        <a [routerLink]="['/']">
          <img
            src="assets/ilustrations/logo-responsive.svg"
            alt=""
            width="120"
            class="img-logo-footer" />
        </a>
        <div class="mt-2 mb-5 mb-md-3">
          <span class="text-first-footer">
            Tu Plataforma <br class="d-none d-md-block" />
            De Psicología Online <br class="d-none d-md-block" />
          </span>
        </div>
        <a [routerLink]="['/payment']" class="text-decoration-none d-none">
          <button
            type="button"
            class="my-0 mx-0 px-0 btn btn-info suscribe-button d-none d-md-block">
            <span class="text-white fw-bold text-btn">
              Consigue tu Suscripción</span
            >
          </button>
        </a>
      </div>

      <div class="col-12 col-md-4 ppdt-20">
        <h3 class="list-menu ps-6">Tell Me Why</h3>

        <ul class="text-center text-md-start ps-6 d-block d-md-none">
          <li>
            <a [routerLink]="['/']" fragment="inicio" class="link-footer">
              Inicio
            </a>
          </li>
          <li>
            <a [routerLink]="['/contacto']" class="link-footer"> Contacto </a>
          </li>
          <!-- <li>Sobre nosotros</li> -->
          <li>
            <a
              [routerLink]="['/']"
              fragment="preguntas_frecuentes"
              class="link-footer">
              Preguntas frecuentes
            </a>
          </li>
          <!-- <li>B2B</li> -->
          <li>
            <a [routerLink]="['/']" fragment="opiniones" class="link-footer">
              Opiniones
            </a>
          </li>
        </ul>
        <ul class="text-center text-md-start ps-6 d-none d-md-block">
          <li>
            <a [routerLink]="['/']" fragment="inicio" class="link-footer">
              Inicio
            </a>
          </li>
          <li>
            <a [routerLink]="['/contacto']" class="link-footer"> Contacto </a>
          </li>
          <!-- <li>Sobre nosotros</li> -->
          <li>
            <a
              [routerLink]="['/']"
              fragment="preguntas_frecuentes"
              class="link-footer">
              Preguntas frecuentes
            </a>
          </li>
          <!-- <li>B2B</li> -->
          <li>
            <a [routerLink]="['/']" fragment="opiniones" class="link-footer">
              Opiniones
            </a>
          </li>
        </ul>
      </div>

      <div class="col-12 my-5 d-none">
        <h3 class="list-menu">Enlaces útiles</h3>
        <ul>
          <li>
            <a
              [routerLink]="['/']"
              fragment="terapeuta"
              class="font-poppins link-footer">
              Encuentra a Tu terapeuta
            </a>
          </li>
          <!-- <li class="font-poppins">¿Eres Psicólogo?</li> -->
        </ul>
      </div>

      <div
        class="col-12 col-md-4 mt-5 mt-md-0 d-lg-flex flex-lg-column align-items-lg-end justify-content-lg-end ppdt-20">
        <h3 class="list-menu">Política de privacidad y términos</h3>
        <ul class="pe-8">
          <li>
            <a
              class="font-poppins link-footer"
              [routerLink]="['/terminos-y-condiciones']">
              Términos y condiciones
            </a>
          </li>
          <li>
            <a
              class="font-poppins link-footer"
              [routerLink]="['/politica-de-privacidad']">
              Política de privacidad
            </a>
          </li>
          <!-- <li class="font-poppins">Configuración de cookies</li> -->
          <h3 class="list-menu mt-4 mb-0 d-none d-md-block">
            Síguenos en redes
          </h3>
          <div class="d-flex align-items-center d-none d-md-block">
            <a href="https://www.facebook.com/tellmewhy.icu/" target="_blank">
              <img
                src="assets/ilustrations/footer/facebook.svg"
                alt="facebook"
                class="me-1" />
            </a>
            <a href="https://www.instagram.com/tellmewhy.es/" target="_blank">
              <img
                src="assets/ilustrations/footer/instagram.svg"
                alt="instagram"
                class="me-1" />
            </a>
            <a
              href="https://www.tiktok.com/@tellmewhy.es?lang=en"
              target="_blank">
              <img
                src="assets/ilustrations/footer/tiktok-note.svg"
                alt="tiktok"
                class="bg-dark p-2 me-1 rounded" />
            </a>
            <img
              src="assets/ilustrations/footer/linkedin.svg"
              alt="linkdin"
              class="me-1 d-none" />
            <a
              href="https://www.youtube.com/channel/UCCNL66LS9iT7TvCLeL7_aHg"
              target="_blank">
              <img
                src="assets/ilustrations/footer/youtube.png"
                alt="linkdin"
                width="43"
                height="60" />
            </a>
          </div>
        </ul>
      </div>

      <div class="col-12 mt-5 mt-md-0 d-block d-md-none">
        <h3 class="list-menu">Síguenos en redes</h3>
        <div class="d-flex align-items-center justify-content-center">
          <a href="https://www.facebook.com/tellmewhy.icu/" target="_blank">
            <img
              src="assets/ilustrations/footer/facebook.svg"
              alt="facebook"
              class="me-1" />
          </a>
          <a href="https://www.instagram.com/tellmewhy.es/" target="_blank">
            <img
              src="assets/ilustrations/footer/instagram.svg"
              alt="instagram"
              class="me-1" />
          </a>
          <a
            href="https://www.tiktok.com/@tellmewhy.es?lang=en"
            target="_blank">
            <img
              src="assets/ilustrations/footer/tiktok-note.svg"
              alt="tiktok"
              class="bg-dark p-2 me-1 rounded" />
          </a>
          <img
            src="assets/ilustrations/footer/linkedin.svg"
            alt="linkdin"
            class="me-1 d-none" />
          <a
            href="https://www.youtube.com/channel/UCCNL66LS9iT7TvCLeL7_aHg"
            target="_blank">
            <img
              src="assets/ilustrations/footer/youtube.png"
              alt="linkdin"
              width="43"
              height="60" />
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
