<div
  class="d-flex flex-column align-items-center justify-content-center py-4"
  *ngIf="show">
  <div class="position-relative">
    <img src="assets/ilustrations/paymentForm/info.svg" alt="" />
    <fa-icon
      [icon]="faEnvelope"
      class="text-white fa-icon position-absolute"></fa-icon>
  </div>
  <h1 class="message_title text-center my-2">¡Tu mensaje ha sido enviado!</h1>
  <p class="message_text mb-0">Responderemos a la brevedad posible</p>
  <p class="message_text text-center">
    Recuerda, Tell Me Why es tu encuentro contigo mismo y la solución a tus
    problemas
  </p>
  <p class="message_text text-center d-none">
    Si tienes alguna duda, contáctanos:
    <a href="#" class="message_link"> consultas@tmw.com </a>
  </p>
</div>
