<header>
  <div style="display: flex; justify-content: center; align-items: center">
    <a routerLink="/">
      <img
        src="assets/ilustrations/logo-responsive.svg"
        alt="logo-responsive"
        class="logo-responsive" />
    </a>
  </div>
  <!-- <div class="container-fluid">
        <nav class="navbar navbar-expand-lg d-flex">
            <a [routerLink]="['/']"> </a>
            <ul class="navbar-nav ms-auto align-items-center">
                <li class="nav-item">
                    <a [routerLink]="['/']" class="nav-link">
                        Sobre Tell Me Why
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/']" class="nav-link"> Psicólogos </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/']" class="nav-link">
                        Trabaja con Tell Me Why
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/contacto']" class="nav-link">
                        Contacto
                    </a>
                </li>
                <li class="nav-item" *ngIf="!isAuth">
                    <a [routerLink]="['/acceso']" class="nav-link">
                        Inicia Sesión
                    </a>
                </li>
                <li class="nav-item" *ngIf="!isAuth">
                    <a [routerLink]="['/inscribirse']" class="nav-link begin-button">
                        Registrate
                    </a>
                </li>
                <li class="nav-item" *ngIf="isAuth">
                    <button
                        type="button"
                        class="nav-link begin-button"
                        (click)="logout()"
                    >
                        Cerrar la sesión
                    </button>
                </li>
            </ul>
        </nav>
    </div> -->
</header>
