<div
  class="d-flex flex-column align-items-center justify-content-center py-4"
  *ngIf="show">
  <div class="position-relative">
    <img src="/assets/ilustrations/paymentForm/info.svg" alt="" />
    <i class="fas fa-exclamation text-white position-absolute"></i>
  </div>
  <!-- <h1 class="message_title text-center my-2 text-center">¡Vaya!</h1> -->
  <p class="message_text text-center mt-3">
    En este momento nuestros psicólogos no están disponibles.
  </p>
  <p class="message_text text-center">
    <!-- ¡Vaya! En este momento, nuestros psicólogos no están disponibles.
        <br> -->
    No te preocupes, no se ha realizado ningún cargo por el servicio.
    <br />
    De momento, prueba estos
    <a
      href="https://www.youtube.com/watch?v=xMRPAjfbt7o&list=PLruAOBUVT77oN7J6AiEsytqwNzeLkRM1p"
      class="text-decoration-none fw-bold"
      target="_blank">
      vídeos de meditación
    </a>
    que hemos creados para ti y síguenos en redes sociales:
    <span class="d-flex align-items-center justify-content-center">
      <a href="https://www.facebook.com/tellmewhy.icu/" target="_blank">
        <img
          src="assets/ilustrations/footer/facebook.svg"
          alt="facebook"
          class="me-1"
          width="30" />
      </a>
      <a href="https://www.instagram.com/tellmewhy.es/" target="_blank">
        <img
          src="assets/ilustrations/footer/instagram.svg"
          alt="instagram"
          class="me-1"
          width="30" />
      </a>
      <a href="https://www.tiktok.com/@tellmewhy.es?lang=en" target="_blank">
        <img
          src="assets/ilustrations/footer/tiktok-note.svg"
          alt="tiktok"
          class="bg-dark p-2 me-1 rounded"
          width="30" />
      </a>
      <a
        href="https://www.youtube.com/channel/UCCNL66LS9iT7TvCLeL7_aHg"
        target="_blank">
        <img
          src="assets/ilustrations/footer/youtube.png"
          alt="linkdin"
          width="30"
          height="45" />
      </a>
    </span>
    Te contactaremos en cuanto nuestros psicólogos estén nuevamente disponibles.
    <br />
  </p>
  <p style="font-weight: 700" class="message_text text-center">
    ¡Gracias por confiar en Tell Me Why, hasta pronto!
  </p>
  <p class="message_text text-center">
    Si tienes alguna duda, contáctanos:
    <a href="#" class="message_link"> Hello@tellmewhy.es </a>
  </p>
</div>
